[all:vars]
base_domain=rhbr-labs.com
cluster_name=ocp

[bootstrap]
bootstrap-0.ocp.rhbr-labs.com ansible_host=192.168.0.40

[masters]
master-0.ocp.rhbr-labs.com ansible_host=192.168.0.50
master-1.ocp.rhbr-labs.com ansible_host=192.168.0.51
master-2.ocp.rhbr-labs.com ansible_host=192.168.0.52

[workers]
infra-0.ocp.rhbr-labs.com ansible_host=192.168.0.60
infra-1.ocp.rhbr-labs.com ansible_host=192.168.0.61
worker-0.ocp.rhbr-labs.com ansible_host=192.168.0.70
worker-1.ocp.rhbr-labs.com ansible_host=192.168.0.71
worker-2.ocp.rhbr-labs.com ansible_host=192.168.0.72
